<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choix vacance</title>
</head>
<body>
    <form action="post">
        <h1>Quelle vacance souhaitez vous faire?</h1>
            <input name="camping" type="checkbox">camping
            <input name="parc" type="checkbox">parc
            <input name="aqua" type="checkbox">aquatique
            <input name="croisière"type="checkbox">croisière
            <input name="bateau" type="checkbox">bateau
            <input name="primitive" type="checkbox">primitive
            <select name="budget" id="budget">budget
                <option value="0 => 50"></option>
                <option value="50 => 100"></option>
                <option value="100 => 150"></option>
                <option value="150 => 200"></option>
                <option value="200 => 300"></option>
                <option value="300+"></option>
            </select>
    </form>
</body>
</html>